<header class="container my-5">
  <div class="nav row g-0 justify-content-between rounded-top">
    <!-- Logotipo -->
    <div class="logo col-auto d-flex align-items-center ps-4">
      <h2 class="fw-bold text-uppercase mb-0">Cesar Luilly</h2>
      <div class="icono">
        <!-- https://icons.getbootstrap.com/icons/dot/ -->
        <i class="bi bi-dot"></i>
      </div>
      <p class="mb-0">Desarrollador web</p>
    </div>
    <!-- Enlaces -->
    <nav class="menu col-auto d-flex align-items-stretch">
      <a href="#"
      class="c1 px-4 d-flex align-items-center text-center text-white text-decoration-none"
      >
        <div class="w-100">
          <span>Portafolio</span>
          <div class="icono">
            <!-- https://icons.getbootstrap.com/icons/briefcase/ -->
            <i class="bi bi-briefcase"></i>
          </div>
        </div>
      </a>
      <a href="#"
        class="c2 px-4 d-flex align-items-center text-center text-white text-decoration-none"
      >
        <div class="w-100">
          <span>Acerca de</span>
          <div class="icono">
            <!-- https://icons.getbootstrap.com/icons/person-fill/ -->
            <i class="bi bi-person-fill"></i>
          </div>
        </div>
      </a>
      <a href="#"
        class="c2 px-4 d-flex align-items-center text-center text-white text-decoration-none"
      >
        <div class="w-100">
          <span>Contacto</span>
          <div class="icono">
            <!-- https://icons.getbootstrap.com/icons/envelope-fill/ -->
            <i class="bi bi-envelope-fill"></i>
          </div>
        </div>
      </a>
    </nav>
  </div>
  <!-- Slider -->
<div class="row slider borderRed">
  <div class="col">
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./../assets/img/carousel1.jpg" alt="carousel">
        </div>
      </div>
    </div>
  </div>
</div>
</header>

