<div class="container">
  <div class="nav row">
    <!-- Logotipo -->
    <div class="col">
      <h2 class="fw-bold text-uppercase mb-0">Cesar Luilly</h2>
      <div class="icono">
        <!-- https://icons.getbootstrap.com/icons/dot/ -->
        <i class="bi bi-dot"></i>
        <p class="mb-0">Desarrollador web</p>
      </div>
    </div>
    <!-- Enlaces -->
    <nav class="menu col">
      <a href="#">
        <span>Portafolio</span>
        <div class="icono">
          <!-- https://icons.getbootstrap.com/icons/briefcase/ -->
          <i class="bi bi-briefcase"></i>
        </div>
      </a>
      <a href="#">
        <span>Acerca de</span>
        <div class="icono">
          <!-- https://icons.getbootstrap.com/icons/person-fill/ -->
          <i class="bi bi-person-fill"></i>
        </div>
      </a>
      <a href="#">
        <span>Contacto</span>
        <div class="icono">
          <!-- https://icons.getbootstrap.com/icons/envelope-fill/ -->
          <i class="bi bi-envelope-fill"></i>
        </div>
      </a>
    </nav>
  </div>
</div>