.borderRed {
    border: 1px solid red;
}

.borderBlue {
    border: 1px solid blue;
}

.borderGreen {
    border: 1px solid green;
}

.nav {
    min-height: 80px;
    background: #fff;
    overflow: hidden;
}

.logotipo h1, 
.logotipo p {
    font-size: 16px;
}

.logotipo .icono {
    color: #bfbfbf;
}

.logotipo h1{
    font-size: 16px;
}

.enlaces .c1 { background: #3da5e2; }
.enlaces .c2 { background: #005385; }
.enlaces .c3 { background: #005385; }

.enlaces .c1:hover { background: #1ba0ef; }
.enlaces .c2:hover { background: #00426a; }
.enlaces .c3:hover { background: #00426a; }

/* MAIN */
main .portafolio {
    border-top: 5px solid #3da5e2;
}

main .portafolio .titulo {
    color: #3da5e2;
    font-weight: 300;   
}

main .contenedor-imagen {
    max-height: 180px;
    overflow: hidden;
}

main .contenedor-imagen a{
    display: inline-block;
    background-color: #3da5e2;
}


main .contenedor-imagen a:hover img{
    opacity: .3;
}

.acerca-de .autor {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.acerca-de .titulo{
    font-weight: 300;
    color: #005285;
    font-size: 48px;
}

.acerca-de .tech {
    font-weight: 600;
    color: #005285;
    font-size: 18px;
}

.acerca-de .progress {
    border-radius: 0%;
    background: #005385;
    height: 25px;
}

.acerca-de .progress .progress-bar {
    background: #3da5e2;
}

.contacto {
    border-top: 1px solid #cbcbcb;
}

.contacto .titulo {
    text-align: center;
    font-size: 40px;
    color: #003855;
    font-weight: 300;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
    padding: 15px;
    border: none;
}

.contacto form textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.contacto form .boton-enviar {
    background-color: #3da5e2;
    border: none;
    color: white;
    padding: 7px;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

footer .pie-pagina {
    border-top: 2px solid #cbcbcb;
    padding-top: 50px;
    margin-bottom: 200px;
}

footer .pie-pagina .icono {
    font-size: 35px;
    text-align: center;
}

footer .pie-pagina .icono-enlace {
    width: 100px;
    height: 100px;
    color: #fff;
    margin: 15px;
    border-radius: 100px;
}

footer .pie-pagina .uno {background: #1da1f2;}
footer .pie-pagina .dos {background: #833ab4;}
footer .pie-pagina .tres {background: #3b5998;}